.sectionTitle {
  margin: 10px 0;
  .title {
    font-size: 40px;
    color: #000000;
    text-align: left;
    margin: 0;
    padding: 0;
    margin-bottom: -16px;
    text-transform: uppercase;
  }

  .subtitle {
    font-size: 60px;
    color: var(--white);
    text-align: left;
    margin: 0;
    margin-left: 15px;

    &.one {
     color: var(--secondary) !important;
    }
  }
}
