.sectionTitle {
  .title {
    font-size: 60px;
    color: #000000;
    line-height: 75px;
    text-align: left;
    font-family: gotham-metropolis-bl;
    font-weight: 400;
    font-style: normal;
    margin: 0;
  }

  .subtitle {
    font-size: 55px;
    color: var(--white);
    line-height: 75px;
    text-align: left;
    font-family: gm-metro-extra-light;
    font-weight: 400;
    font-style: normal;
    margin: 0;
  }
}
