.heroSilde {
  .sliderContainer {
    height: 86vh;
    overflow: hidden;

    .slider {
      position: relative;
      height: 100%;

      .slideImage {
        width: 100%;
        height: 100%;
      }
    }

    .arrows {
      position: absolute;
      z-index: 10;
      top: 50%;
      right: 0;
      transform: translateY(-50%);

      width: 100%;

      display: flex;
      justify-content: space-between;
      padding: 0 30px;

      .btn {
        padding: 5px !important;
      }
    }
  }
}
