.heroSilde {
  .sliderContainer {
    height: 80vh;
    overflow: hidden;


    .slider {
      position: relative;
      height: 100%;

      .slideImage {
        width: 100%;
        height: 100%;
      }
    }

    .arrows {
      position: absolute;
      z-index: 10;
      top: 80.7%;
      right: 0;

      width: 100%;

      display: flex;
      justify-content: space-between;
      padding: 0 10px;

      .btn {
        padding: 5px !important;
      }
    }

    .start {
      position: absolute;
      z-index: 10;

      top: 80%;
      left: 50%;
      transform: translateX(-50%);

      .btn {
        display: flex;
        gap: 10px;
        width: 270px;
      }

    }
  }
}
