.footer {
  display: flex;
  align-items: center;
  justify-content: space-between;

  padding: 0 20px;

  .socials {
    display: flex;
    gap: 5px;
    flex-wrap: wrap;

    @media (min-width: 768px) {
      gap: 20px;
    }
  }
}
