.actuality {
  background: var(--secondary);
  padding: 20px 0;

  .title {
    padding-left: 40px;
    padding-bottom: 20px;
  }

  .galery {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 10px;
  }
}
