.banner {
  background: var(--primary);
  height: 200px;

  .banner1 {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    background-image: url('../../assets/images/h1-bg-img.png');

    h1 {
      font-size: 55px;
      color: #fff;
    }
  }
}